/*
  THEME
*/

/* e.g. var, function */
.cm-s-default span.cm-keyword    { color: #000 ; font-weight: bold !important; }

/* e.g. #id */
.cm-atom       { color: #ddca7e; }

/* e.g. 20 */
.cm-s-default span.cm-number     { color: red; }

/* e.g. px, em */
.cm-unit       { color: #d0782a; }

/* e.g. @include, [this] */
.cm-s-default span.cm-def        { color: blue; font-weight: bold }

/* e.g. $, i */
.cm-s-default span.cm-variable   { color: black; }

/* e.g. for key in [this], Markdown li */
.cm-s-default span.cm-variable-2 { color: blue; font-weight: 600 }

/* e.g. getElementbyId, CSS properties */
.cm-property   { color: black; }

/* e.g. CoffeeScript ->, CSS colons */
.cm-operator   { color: black; }

/* e.g. // comments */
.cm-comment    { color: #666666; }

/* e.g. "string" */
.cm-string     { color: #96b38a; }

/* e.g. some CSS values */
.cm-s-default span.cm-string-2   { color: forestgreen; }

/* e.g. @font-face */
.cm-meta       { color: #9a8297; }

/*  */
.cm-header     { color: #ff6400; }

/* e.g. HTML elements */
.cm-tag        { color: #9a6e35; }

/* e.g. class="" id="" */
.cm-attribute  { color: #ddca7e; }

/* not sure if used */
.cm-strong     { color: #ddca7e; }

/* not sure if used */
.cm-em         { color: #ddca7e; }

/* e.g. .box */
.cm-qualifier  { color: #ddca7e; }

/* not sure if used */
.cm-builtin    { color: #ddca7e; }

/* HTML SPECIFIC */
/* e.g. markdown blockquote */
.box-html .cm-atom { color: #96b38a; }

/* CSS SPECIFIC */
/* e.g. h1, h2 */
.box-css .cm-tag { color: #ddca7e; }

.cm-s-default .CodeMirror {
    background-color: white;
}

.CodeMirror-linenumber {
    color: #343434;
}

.cm-s-default .CodeMirror-lines {
    padding-top: 12px;
}