.toolbar {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
}

.toolbar .btn {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: relative;
}

.btn:hover .tooltip {
  background-color: #1d1d1d;
  visibility: visible;
}

.btn:disabled {
  background-color: gray !important;
}

.icon {
  height: 25px;
  width: 25px;
  fill: white;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}